.navcont{
    display:flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    background-color: #69b7ee;
}
ul{
    display:flex;
    justify-content:right;
    align-items:center;
    
}
Link{
    text-decoration: none;
    color: black;

}
